.product-detail__left {
  width: 40%;
  min-width: 200px;
}

.product-detail__small-img-wrapper {
  position: relative;
}

.product-detail__small-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.product-detail__zoom-box {
  display: none;
  width: 50%;
  aspect-ratio: 1/1;
  border: 1px solid #ddd;
  background-color: #ffffff54;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.product-detail__zoom-box.--show {
  display: block;
}

.product-detail__big-img-wrapper {
  display: none;
  border: 1px solid #ddd;
  width: 115%;
  height: 115%;
  position: absolute;
  right: -20px;
  top: 0;
  transform: translateX(100%);
  overflow: hidden;
  border-radius: 3px;
}
.product-detail__big-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}
.product-detail__big-img-wrapper.--show {
  display: block;
}

.product-detail__let-mouse-hover {
  display: block;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-detail__let-mouse-hover.--hide {
  display: none;
}
