/* common */

section:has(.scroll-ani-wrapper) {
  overflow: hidden;
}

.scroll-ani-wrapper {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150px);
  transition: all 1s;
}

.scroll-ani-wrapper.--run {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* main visual */

.main-visual-swiper img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.main-visual-swiper__text-box {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.main-visual-swiper__text-box h2 {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: 500;
}

.main-visual-swiper .swiper-button-prev {
  left: 5%;
}
.main-visual-swiper .swiper-button-next {
  right: 5%;
}

.main-visual-swiper .swiper-button-next,
.main-visual-swiper .swiper-button-prev {
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.main-visual-swiper:hover .swiper-button-next,
.main-visual-swiper:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}

.main-visual-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 3px;
}

.main-visual-swiper .swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  opacity: 1;
}

/* main comment */

.main-comment {
  padding: 100px 0;
}

.main-comment h2 {
  margin-bottom: 35px;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
}

.main-comment__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* best seller */

.best-seller {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.best-seller__swiper-wrapper {
  padding: 0 20px;
  position: relative;
}

.best-seller-swiper .swiper-slide {
  height: auto;
  background-color: #fff;
  border-radius: var(--border-radius30);
  overflow: hidden;
}

/* new */

.new {
  padding: 100px 0;
}

.new__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* collection */

.collection {
  padding: 45px 0;
  margin: 0 20px;
  border-radius: var(--border-radius30);
  background-color: #f7f7f7;
}

.collection__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection__left {
  padding-right: 5%;
}
.collection__left,
.collection__right {
  width: 50%;
}

.collection__text-box {
  padding: 0 40px;
  position: relative;
}

.collection__desc {
  margin: 10px 0;
  font-size: 0.9375rem;
  color: #555555;
  text-align: center;
}

.collection-swiper .swiper-slide {
  padding: 15px;
  background-color: #fff;
  border-radius: var(--border-radius30);
}

.collection-swiper {
  padding-top: 24px;
}

.collection__right iframe {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-radius30);
}

/* kids item */
.kids-item {
  padding: 100px 0;
}

.kids-item__content-box {
  display: flex;
  gap: 20px;
}

.kids-item-banner-swiper {
  width: 35%;
  border-radius: var(--border-radius30);
}

.kids-item-banner-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kids-item__grid-container {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
}

/* review */
.review {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.review__swiper-wrapper {
  padding: 0 50px;
  position: relative;
}

.review__slide-prev-btn,
.review__slide-next-btn {
  display: block;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.review__slide-prev-btn {
  left: 0;
}

.review__slide-next-btn {
  right: 0;
}

.review__slide-prev-btn i,
.review__slide-next-btn i {
  display: block;
  font-size: 2.5rem;
  color: #ccc;
}

.review__more-btn-wrapper {
  text-align: center;
  padding-top: 25px;
}

/* instagram */
.instagram {
  padding: 100px 0;
}

.instagram__grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 25px;
}

.instagram__grid-item {
  border-radius: 4px;
  overflow: hidden;
}

.instagram__grid-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.instagram__grid-item img:hover {
  opacity: 0.6;
}

.instagram__thumb-wrapper {
  display: block;
}

@media screen and (max-width: 1200px) {
  .main-visual-swiper__text-box h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .kids-item__grid-container {
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
  }

  .kids-item-banner-swiper {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .collection__inner {
    flex-direction: column;
  }

  .collection__left,
  .collection__right {
    width: 100%;
  }

  .collection__left {
    order: 1;
    padding-right: 0;
    margin-top: 20px;
  }

  .kids-item__content-box {
    flex-direction: column;
  }

  .kids-item-banner-swiper,
  .kids-item__grid-container {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .kids-item__grid-container {
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
  }
}
