section:has(.scroll-ani-wrapper) {
  overflow: hidden;
}

.scroll-ani-wrapper {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150px);
  transition: all 1s;
}

.scroll-ani-wrapper.--run {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .scroll-ani-wrapper {
    transform: translateY(100px);
  }
}
